<!-- Home page Html -->
<div class="container-fluid mainContainer">
  <div class="row mainRow">
    <div class="col mainCol">

      <!--Content Section-->
      <div class="row allSameCurrenciesCountriesHeading">
        <div class="backArrow">
          <a [routerLink]="['/home']">
            <i class="material-icons">
              keyboard_backspace
            </i>
          </a>
        </div>
        <div class="col-md-12 upperCol">Countries</div>
      </div>

      <div class="row allSameCountriesDescriptionRow">
        <div class="col allSameCountriesDescriptionCol">
          <p>
            Currency Filter Applied
          </p>
        </div>
      </div>

      <div class="row allSameCurrenciesCountriesRow">
        <div *ngFor="let sameCurrenciesCountry of allSameCurrenciesCountries" class="col-xs-12 col-md-6 col-lg-4 col-xl-4 allSameCurrenciesCountriesMainCol">

          <!--Country Iteration div starts here-->
          <div class="row sameCurrenciesCountryRow">
            <div class="col-md-12 sameCurrenciesCountryCol">
              <div class="panel-flag sameCurrenciesCountryFlag">
                <img [src]="sameCurrenciesCountry.flag">
              </div>
              <div class="panel panel-default sameCurrenciesCountryPanel">
                <div class="panel-heading sameCurrenciesCountryPanelHeading">
                  <p>
                    Country: {{sameCurrenciesCountry.name}}
                  </p>
                </div>
                <div class="panel-body sameCurrenciesCountryPanelBody">
                  <p>
                    Capital : {{ sameCurrenciesCountry.capital}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!--Countries Iteration div ends here-->
        </div>
      </div>
    </div>
  </div>
</div>