.homeContainer{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.row{
    margin: 0;
    padding: 0;
}

a{
    color: transparent;
    text-decoration: none;
    outline: none;
}

a:hover{
    text-decoration: none;
    outline: none;
}

/*----------------------------Content Section------------------------------------*/

.navigationContentRow{
    width: 100%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationContentCol{
    margin: 0;
    padding: 0;
}

.firstRow{
    width: 100%;
    height: auto;

    margin: 20px;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.firstRowFirstCol{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*------------------------------------------------Africa-------------------------------------*/
.africaCard{
    max-width: 400px;
    height: 640px;


    background-image:  linear-gradient(
        rgba(255, 0, 0, 0), 
        rgba(255, 0, 0, 0.45)
      ),
      url("../../assets/images/Africa.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: 0 0 3rem rgba(0,0,255,.1);
    border-radius: 1.5rem;
}

.africaCard:hover{
    cursor: pointer;
}


#africaHeading{
    padding-top: calc(100% - 5%);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 35px;
    font-size: 3rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
}

#africaContent{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 35px;
    font-size: 1.2rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;;
}


/*------------------------------------------------America-------------------------------------*/
.americaCard{
    max-width: 400px;
    height: 640px;


    background-image:url("../../assets/images/America.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: 0 0 3rem rgba(0,0,255,.1);
    border-radius: 1.5rem;
}

.americaCard:hover{
    cursor: pointer;
}


#americaHeading{
    padding-top: calc(100% - 5%);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 35px;
    font-size: 3rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
}

#americaContent{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 35px;
    font-size: 1rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;;
}



/*------------------------------------------------Asia-------------------------------------*/
.asiaCard{
    max-width: 400px;
    height: 640px;


    background-image: url("../../assets/images/Asia.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: 0 0 3rem rgba(0,0,255,.1);
    border-radius: 1.5rem;
}

.asiaCard:hover{
    cursor: pointer;
}


#asiaHeading{
    padding-top: calc(100% - 5%);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 35px;
    font-size: 3rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
}

#asiaContent{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 35px;
    font-size: 1rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;;
}



/*-----------------------------------------Second Row-------------------------------*/


.secondRow{
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.secondRowFirstCol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/*------------------------------------------------Europe-------------------------------------*/
.europeCard{
    max-width: 400px;
    height: 640px;


    background-image: linear-gradient(
        rgba(255, 255, 255, 0), 
        rgb(0, 0, 0)
    ),
     url("../../assets/images/Europe.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: 0 0 3rem rgba(0,0,255,.1);
    border-radius: 1.5rem;
}

.europeCard:hover{
    cursor: pointer;
}


#europeHeading{
    padding-top: calc(100% - 5%);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    font-size: 3rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
}

#europeContent{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    font-size: 0.9rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;;
}




/*------------------------------------------------Oceania-------------------------------------*/
.oceaniaCard{
    max-width: 400px;
    height: 640px;


    background-image:  linear-gradient(
        rgba(255, 255, 255, 0), 
        rgb(0, 0, 0)
    ),
    url("../../assets/images/Oceania.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: 0 0 3rem rgba(0,0,255,.1);
    border-radius: 1.5rem;
}

.oceaniaCard:hover{
    cursor: pointer;
}


#oceaniaHeading{
    padding-top: calc(100% - 5%);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    font-size: 3rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
}

#oceaniaContent{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    font-size: 0.9rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;;
}

/*----------------------------------------------Footer-------------------------------------*/

.footerRow{
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footerCol{
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}    

.footerCol p{
    color: white;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

/*---------------------------------------------Media Query For Mobile------------------------------------- */

@media (max-width: 480px) {
  
    
    
  }