<div class="container-fluid homeContainer">
  <div class="row navigationContentRow">
    <div class="col-12 h-100 navigationContentCol">
      <div class="row firstRow">
        <div class="col firstRowFirstCol">

          <!--Africa-->
          <a [routerLink]="['/africa']">
            <div class="card africaCard">
              <div id="africaHeading">
                Africa
              </div>
              <div id="africaContent">
                Africa is considered by most paleoanthropologists to be the oldest inhabited territory on Earth, with the human species originating
                from the continent.
              </div>
            </div>
          </a>

          <!--America-->

          <a [routerLink]="['/america']">
            <div class="card americaCard">
              <div id="americaHeading">
                America
              </div>
              <div id="americaContent">
                The name America was first recorded in 1507. Julian Wilson of Christie's auction house said a two-dimensional globe created
                by Martin Waldseemüller, the discovery of which was announced on November 7, 2017, was the earliest recorded
                use of the term.
              </div>
            </div>
          </a>

          <!--Asia-->

          <a [routerLink]="['/asia']">
            <div class="card asiaCard">
              <div id="asiaHeading">
                Asia
              </div>
              <div id="asiaContent">
                The history of Asia can be seen as the distinct histories of several peripheral coastal regions: East Asia, South Asia, Southeast
                Asia and the Middle East, linked by the interior mass of the Central Asian steppes.
              </div>
            </div>
          </a>

        </div>
      </div>

      <div class="row secondRow">
        <div class="col secondRowFirstCol">
          <!--Europe-->
          <a [routerLink]="['/europe']">
            <div class="card europeCard">
              <div id="europeHeading">
                Europe
              </div>
              <div id="europeContent">
                The first recorded usage of Eurṓpē as a geographic term is in the Homeric Hymn to Delian Apollo, in reference to the western
                shore of the Aegean Sea. As a name for a part of the known world, it is first used in the 6th century BC by
                Anaximander and Hecataeus.
              </div>
            </div>
          </a>


          <!--Oceania-->
          <a [routerLink]="['/oceania']">
            <div class="card oceaniaCard">
              <div id="oceaniaHeading">
                Oceania
              </div>
              <div id="oceaniaContent">
                The term was coined as Océanie circa 1812 by geographer Conrad Malte-Brun. The word Océanie is a French word derived from
                the Latin word oceanus, and this from the Greek word ὠκεανός (ōkeanós), ocean. Natives and inhabitants of this
                region are called Oceanians or Oceanicans
              </div>
            </div>
          </a>

        </div>
      </div>

      <div class="row footerRow">
        <div class="col-12 footerCol">
          <p>
            Made with
            <span id="heart"></span>&#9829; by Abhinav
          </p>
        </div>
      </div>
    </div>
  </div>
</div>