.homeContainer{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

}


.row{
    margin: 0;
    padding: 0;
}

a{
    color: transparent;
    text-decoration: none;
    outline: none;
}

a:hover{
    text-decoration: none;
    outline: none;
}

/*----------------------------Content Section------------------------------------*/

.navigationContentRow{
    width: 100%;
    height: 90%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.navigationContentCol{
    margin: 0;
    padding: 0;
}

.firstRow{
    width: 100%;
    height: auto;

    margin: 20px;
    padding: 15px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.firstRowFirstCol{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/*------------------------------------------------Africa-------------------------------------*/
.africaCard{
    max-width: 400px;
    height: 640px;


    background-image:  -webkit-gradient(
        linear, 
        left top, left bottom, 
        from(rgba(255, 0, 0, 0)), 
        to(rgba(255, 0, 0, 0.45))
      ),
      url("../../assets/images/Africa.jpg");


    background-image:  -webkit-linear-gradient(
        rgba(255, 0, 0, 0), 
        rgba(255, 0, 0, 0.45)
      ),
      url("../../assets/images/Africa.jpg");


    background-image:  -o-linear-gradient(
        rgba(255, 0, 0, 0), 
        rgba(255, 0, 0, 0.45)
      ),
      url("../../assets/images/Africa.jpg");


    background-image:  linear-gradient(
        rgba(255, 0, 0, 0), 
        rgba(255, 0, 0, 0.45)
      ),
      url("../../assets/images/Africa.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-box-shadow: 0 0 3rem rgba(0,0,255,.1);

            box-shadow: 0 0 3rem rgba(0,0,255,.1);
    border-radius: 1.5rem;
}

.africaCard:hover{
    cursor: pointer;
}


#africaHeading{
    padding-top: calc(100% - 5%);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 35px;
    font-size: 3rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
}

#africaContent{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 35px;
    font-size: 1.2rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;;
}


/*------------------------------------------------America-------------------------------------*/
.americaCard{
    max-width: 400px;
    height: 640px;


    background-image:url("../../assets/images/America.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-box-shadow: 0 0 3rem rgba(0,0,255,.1);

            box-shadow: 0 0 3rem rgba(0,0,255,.1);
    border-radius: 1.5rem;
}

.americaCard:hover{
    cursor: pointer;
}


#americaHeading{
    padding-top: calc(100% - 5%);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 35px;
    font-size: 3rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
}

#americaContent{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 35px;
    font-size: 1rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;;
}



/*------------------------------------------------Asia-------------------------------------*/
.asiaCard{
    max-width: 400px;
    height: 640px;


    background-image: url("../../assets/images/Asia.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-box-shadow: 0 0 3rem rgba(0,0,255,.1);

            box-shadow: 0 0 3rem rgba(0,0,255,.1);
    border-radius: 1.5rem;
}

.asiaCard:hover{
    cursor: pointer;
}


#asiaHeading{
    padding-top: calc(100% - 5%);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 35px;
    font-size: 3rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
}

#asiaContent{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 35px;
    font-size: 1rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;;
}



/*-----------------------------------------Second Row-------------------------------*/


.secondRow{
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.secondRowFirstCol{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


/*------------------------------------------------Europe-------------------------------------*/
.europeCard{
    max-width: 400px;
    height: 640px;


    background-image: -webkit-gradient(
        linear, 
        left top, left bottom, 
        from(rgba(255, 255, 255, 0)), 
        to(rgb(0, 0, 0))
    ),
     url("../../assets/images/Europe.jpg");


    background-image: -webkit-linear-gradient(
        rgba(255, 255, 255, 0), 
        rgb(0, 0, 0)
    ),
     url("../../assets/images/Europe.jpg");


    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0), 
        rgb(0, 0, 0)
    ),
     url("../../assets/images/Europe.jpg");


    background-image: linear-gradient(
        rgba(255, 255, 255, 0), 
        rgb(0, 0, 0)
    ),
     url("../../assets/images/Europe.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-box-shadow: 0 0 3rem rgba(0,0,255,.1);

            box-shadow: 0 0 3rem rgba(0,0,255,.1);
    border-radius: 1.5rem;
}

.europeCard:hover{
    cursor: pointer;
}


#europeHeading{
    padding-top: calc(100% - 5%);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 30px;
    font-size: 3rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
}

#europeContent{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 30px;
    font-size: 0.9rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;;
}




/*------------------------------------------------Oceania-------------------------------------*/
.oceaniaCard{
    max-width: 400px;
    height: 640px;


    background-image:  -webkit-gradient(
        linear, 
        left top, left bottom, 
        from(rgba(255, 255, 255, 0)), 
        to(rgb(0, 0, 0))
    ),
    url("../../assets/images/Oceania.jpg");


    background-image:  -webkit-linear-gradient(
        rgba(255, 255, 255, 0), 
        rgb(0, 0, 0)
    ),
    url("../../assets/images/Oceania.jpg");


    background-image:  -o-linear-gradient(
        rgba(255, 255, 255, 0), 
        rgb(0, 0, 0)
    ),
    url("../../assets/images/Oceania.jpg");


    background-image:  linear-gradient(
        rgba(255, 255, 255, 0), 
        rgb(0, 0, 0)
    ),
    url("../../assets/images/Oceania.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-box-shadow: 0 0 3rem rgba(0,0,255,.1);

            box-shadow: 0 0 3rem rgba(0,0,255,.1);
    border-radius: 1.5rem;
}

.oceaniaCard:hover{
    cursor: pointer;
}


#oceaniaHeading{
    padding-top: calc(100% - 5%);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
    font-size: 3rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
}

#oceaniaContent{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
    font-size: 0.9rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;;
}

/*----------------------------------------------Footer-------------------------------------*/

.footerRow{
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-top: 10px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footerCol{
    width: 100%;
    height: 50px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    background-image: -webkit-gradient(linear, left bottom, left top, from(#0ba360), to(#3cba92));

    background-image: -webkit-linear-gradient(bottom, #0ba360 0%, #3cba92 100%);

    background-image: -o-linear-gradient(bottom, #0ba360 0%, #3cba92 100%);

    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}    

.footerCol p{
    color: white;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

/*---------------------------------------------Media Query For Mobile------------------------------------- */

@media (min-width: 240px) and (max-width: 1280px) {
  
    
    .firstRow{
        height: 640px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .firstRowFirstCol{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .firstRowFirstCol a {
        height: 30%;
        margin: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

    }

    .firstRowFirstCol .africaCard, .americaCard, .asiaCard{
        height: 100%;
    }

    #africaHeading, #americaHeading, #asiaHeading{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-top: 0;
        padding-left: 0;
        font-size: 2rem; 
    }
    
    #africaContent, #americaContent, #asiaContent {
        padding-left: 0;
        font-size: 0.8rem;
        padding: 20px;
    }

    #americaContent, #asiaContent{
        padding: 10px;
    }

    /*-------------------------------------Second Row---------------------------------*/

    .secondRow{
        height: 640px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .secondRowFirstCol{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .secondRowFirstCol a {
        height: 30%;
        margin: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

    }

    .secondRowFirstCol .europeCard, .oceaniaCard{
        height: 100%;
    }

    #europeHeading, #oceaniaHeading{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-top: 0;
        padding-left: 0;
        font-size: 2rem; 
    }
    
    #europeContent, #oceaniaContent{
        padding-left: 0;
        font-size: 0.8rem;
        padding: 5px;
    }

}   
